@import "config";
@import "menu";
@import "mobile";

* {
    box-sizing: border-box;
}

body{
    @include background;

    background: $primary-color;
    color: white;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//test
//headings
h1, 
h2,
h3 {
    margin: 0;
    font-weight: 800;
    &.lg-heading{
        font-size: 5rem;
    }
    &.sm-heading{
      font-weight: 600;
        margin-bottom: 2rem;
        padding: 0.5 rem 0.5rem;
        background: rgba(lighten($primary-color, $amount: 2),0);
    }
    &.lg-heading-info{
      font-size: 4rem;
      padding-left: 5rem;
      padding-right: 5rem;  
      padding-bottom: 2rem;
  }
}


a {
    color: white;
    text-decoration: none;

}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary {
    color: $secondary-color;
}
main {
    padding: 4rem;
    height: 100%;
    .icons{
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      'bioimage bio bio'
      'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 0%;
        border: $secondary-color 3px solid;
      }
    
      .bio {
        grid-area: bio;
        font-size: 1.5rem;
      }
    
      .job-1 {
        grid-area: job1;
      }
    
      .job-2 {
        grid-area: job2;
      }
    
      .job-3 {
        grid-area: job3;
      }
    
      .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
      }
}
.choose-info {
  padding-right: 5rem;
  padding-left: 5rem;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'salestext-image'
    'salestext'
    'salestext-image2'
    'salestext2';
  grid-template-columns: repeat(1, 1fr);

  .salestext-image {
      grid-area: salestext-image;
      margin: auto;
      border-radius: 0%;
      width: 100%;
      
      max-width: 1000px;
      border: $secondary-color 5px solid;
    }
    .salestext-image2 {
      grid-area: salestext-image2;
      margin: auto;
      border-radius: 0%;
      width: 100%;
      max-width: 500px;
      border: $secondary-color 5px solid;
    }

    .salestext2 {
      padding-left: 20%;
      padding-right: 20%;
      grid-area: salestext2;
      font-size: 1.2rem;
    }
    .salestext {
      text-align: center;
      padding-left: 15%;
      padding-right: 15%; 
      grid-area: salestext;
      font-size: 1.2rem;
    }
}

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
  
    img {
      width: 100%;
      border: 3px #fff solid;
  
      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
  
    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;
  
      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
    }
  }
  
  .btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
  }
  
  .btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
  }

  #main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
  }
  
@import "mobile";
